<nav class="navbar navbar-expand-lg navbar-light position-relative">
  <div class="nav-link">
    <a class="navbar-brand" href="#">Dashboard</a>
  </div>





  <div class="nav-link">
    <div class="hamburger-btn-1" href="#"> </div>
    <div class="hamburger-btn-2" href="#"> </div>
    <div class=" hamburger-btn-3" href="#"> </div>
  </div>


  <div class=" navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <form class="form-inline my-2 my-lg-0">
        <div class=" inner-addon left-addon ">
          <i class=" fas fa-search float-left search-icon"></i>
          <input type="text" class="form-control search border" placeholder="Search...">
        </div>

      </form>



    </ul>

  </div>





</nav>
