<!-- <div class="container">

  <div class="row">

    <div class="col-md-12 myNavbar">
      <app-navbar-container></app-navbar-container>
    </div>
    <div class="col-md-12">
      <app-predictions-container></app-predictions-container>
    </div>
    <div class="col-md-9 today-chart">
      <app-today-chart-container></app-today-chart-container>
    </div>
    <div class="col-md-3">
      <app-current-price-container></app-current-price-container>
    </div>
    <div class="col-md-12 price">
      <app-price-history-container></app-price-history-container>
    </div>


  </div>

</div> -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <app-navbar-container></app-navbar-container>
    </div>
    <div class="col-md-9">
      <app-today-chart-container></app-today-chart-container>
    </div>
    <div class="col-md-3">
      <div class="col-12">
        <app-current-price-card-container></app-current-price-card-container>
      </div>
      <div class="col-12">
        <app-algo-controls-container></app-algo-controls-container>
      </div>
      <div class="col-12">
        <app-current-price-container></app-current-price-container>
      </div>

    </div>

  </div>
  <div class="row">
    <div class="col-md-6">
      <app-price-history-container></app-price-history-container>

    </div>
    <div class="col-md-6">
      <app-predictions-container></app-predictions-container>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-market-depth-container></app-market-depth-container>
    </div>
  </div>
</div>
