<div class="current-price">
  <div class="row ">
    <!-- <div class="col-12">
      <div class="card bt-card border-0 ">
        <div class="card-body" style="padding: 0 !important">
          <i class="fab fa-bitcoin bitcoin-icon"></i>
          <div class="content">
            <p>current Price/BTC<br>
              3154.21$</p>
          </div>
        </div>
      </div>
    </div> -->

  </div>
  <div class="row small-font">
    <div class="col-12">
      <div class="card border-0">
        <div class="card-body grey-card">
          13:00, 1 Jan 2019<i class="fas fa-angle-up" style="font-size: 11px;"></i>

        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card border-0">
        <div class="card-body grey-card">
          <div class="row">
            <div class="col-6">
              12:55, 1 Jan 2019
            </div>
            <div class="col-6 ">
              <i class="fas fa-angle-down" style="color: #B22013; padding-left: 50px;"></i>
              0.0005 BTC
            </div>
          </div>


        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card border-0">
        <div class="card-body grey-card">
          12:50, 1 Jan 2019 <i class="fas fa-angle-up" style="color: #7AC230; padding-left: 50px;"></i>

        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card border-0">
        <div class="card-body grey-card">
          12:45, 1 Jan 2019 <i class="fas fa-angle-down" style="color: #B22013 ;padding-left: 50px;"></i>

        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card border-0">
        <div class="card-body grey-card">
          12:40, 1 Jan 2019<i class="fas fa-angle-up" style="color: #7AC230 ;padding-left: 50px;"></i>

        </div>
      </div>
    </div>

  </div>
</div>
