<div class="card">
  <div class="card-body">
    <div class="row">
      <h6 class="card-title">LSTM Algorithm for predictions</h6>
    </div>
    <div class="row">
      <p style="font-size: 0.8rem">Error Rates</p>
    </div>

    <div class="row">
      <p>Daily</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuemax="100"></div>
      </div>
      <p>33.435</p>
    </div>
    <div class="row ">
      <p>Weekly</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
      <p>746.435</p>
    </div>
    <div class="row small-font">
      <div class="form-check col-4">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        <label class="form-check-label" for="exampleRadios1">
          Twitter
        </label>
      </div>
      <div class="form-check col-4">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          BTC Volume
        </label>
      </div>
      <div class="form-check col-4">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          BTC Pricing
        </label>
      </div>
    </div>


  </div>
</div>
